In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
#import plotly.express as px

import shapely # gera as figuras geométricas
import descartes # relacionar-se bem com matplotlib
import pyproj # projeções. Transformação de Coordenadas

#import seaborn as sns

In [36]:
data_location = "../Data/Real_State_Properati.csv"

df_prop = pd.read_csv(data_location, 
                      sep = '\t', 
                     )

In [37]:
df_prop

,property_type,place_name,country_name,state_name,lat,lon,price,currency,surface_total_in_m2
0,PH,Mataderos,Argentina,Capital Federal,-34.661824,-58.508839,62000.0,USD,55.0
1,apartment,Mataderos,Argentina,Capital Federal,-34.652262,-58.522982,72000.0,USD,55.0
2,apartment,Belgrano,Argentina,Capital Federal,-34.559873,-58.443362,138000.0,USD,45.0
3,apartment,Belgrano,Argentina,Capital Federal,-34.559873,-58.443362,195000.0,USD,65.0
4,PH,Mataderos,Argentina,Capital Federal,-34.652356,-58.501624,239000.0,USD,140.0
...,...,...,...,...,...,...,...,...,...
17218,apartment,Barrio Norte,Argentina,Capital Federal,-34.599214,-58.402519,165000.0,USD,91.0
17219,apartment,Recoleta,Argentina,Capital Federal,-34.587425,-58.397372,165000.0,USD,44.0
17220,apartment,Belgrano,Argentina,Capital Federal,-34.563685,-58.442683,410000.0,USD,157.0
17221,apartment,Belgrano,Argentina,Capital Federal,-34.563685,-58.442683,410000.0,USD,157.0
17222,apartment,Villa Urquiza,Argentina,Capital Federal,-34.570639,-58.475596,131500.0,USD,46.0

In [38]:
df_prop.isnull().sum().sum() #se tiver algum null vai identificar

0

In [39]:
df_prop.isnull().sum()

property_type          0
place_name             0
country_name           0
state_name             0
lat                    0
lon                    0
price                  0
currency               0
surface_total_in_m2    0
dtype: int64

In [40]:
df_prop.dtypes

property_type           object
place_name              object
country_name            object
state_name              object
lat                    float64
lon                    float64
price                  float64
currency                object
surface_total_in_m2    float64
dtype: object

In [41]:
df_prop.describe()

                lat           lon         price  surface_total_in_m2
count  17223.000000  17223.000000  1.722300e+04         17223.000000
mean     -34.600541    -58.434354  3.567353e+05           117.989665
std        0.039048      0.055797  1.183132e+06          1534.549462
min      -38.416097    -63.616672  5.500000e+03             0.000000
25%      -34.620026    -58.463026  1.080000e+05            44.000000
50%      -34.600937    -58.434584  1.634760e+05            66.000000
75%      -34.581559    -58.402708  3.000000e+05           116.000000
max      -34.535096    -58.354956  5.000000e+07        200000.000000

In [42]:
print(df_prop['property_type'].unique())
print(df_prop['country_name'].unique())
print(df_prop['state_name'].unique())
print(df_prop['place_name'].unique())
print(df_prop['currency'].unique())

['PH' 'apartment' 'house' 'store']
['Argentina']
['Capital Federal']
['Mataderos' 'Belgrano' 'Palermo' 'Flores' 'Boedo' 'Las Cañitas'
 'Puerto Madero' 'Balvanera' 'Caballito' 'Nuñez' 'Floresta' 'Barracas'
 'Recoleta' 'Congreso' 'Villa Crespo' 'Chacarita' 'Almagro' 'Constitución'
 'Colegiales' 'Villa Urquiza' 'Barrio Norte' 'Palermo Hollywood'
 'Saavedra' 'Paternal' 'Agronomía' 'Villa Pueyrredón' 'Coghlan'
 'Parque Centenario' 'San Telmo' 'Monserrat' 'Boca' 'Parque Avellaneda'
 'San Cristobal' 'Abasto' 'Versalles' 'Villa del Parque' 'Monte Castro'
 'Retiro' 'Capital Federal' 'Parque Chas' 'Palermo Chico' 'Villa Devoto'
 'Palermo Soho' 'Centro / Microcentro' 'Liniers' 'Tribunales' 'Once'
 'San Nicolás' 'Parque Chacabuco' 'Velez Sarsfield' 'Catalinas' 'Pompeya'
 'Parque Patricios' 'Palermo Viejo' 'Villa Lugano' 'Villa Luro'
 'Villa General Mitre' 'Villa Ortuzar' 'Villa Santa Rita' 'Villa Soldati'
 'Villa Real' 'Villa Riachuelo']
['USD' 'ARS']

In [43]:
#df_prop['currency']== 'ARS'
df_prop[df_prop['currency']=='ARS'].count()

property_type          523
place_name             523
country_name           523
state_name             523
lat                    523
lon                    523
price                  523
currency               523
surface_total_in_m2    523
dtype: int64

In [44]:
ars_usd = 0.0085
df_prop['price'] = df_prop[df_prop['currency']=='ARS'].price.apply(lambda x: x * ars_usd)

In [45]:
df_prop[df_prop['currency']=='ARS'].price

58        9344.4750
59        9464.0700
60        9585.4500
61        9706.8300
62       11283.8775
            ...
16977    19866.4805
17021     5525.0000
17113    25160.0000
17165    22535.2000
17170     1147.5000
Name: price, Length: 523, dtype: float64